{% extends 'orders/msg_body_of_order_for_owner.html' %}
{% load static %}
{% block footer %}
    <footer>
        <div class="contact">
            <h3>Контактна інформація</h3>
            <p>
                <img src="{% static 'orders/imgs/phone.png' %}">
                <span>+380 68 262 5900</span>
            </p>
            <p>
                <img src="{% static 'orders/imgs/phone.png' %}">
                <span>+380 50 401 6660</span>
            </p>
            <p>
                <img src="{% static 'orders/imgs/email.png' %}">
                <span>service@divo-comfort.ua</span>
            </p>
            <p>
                <img src="{% static 'orders/imgs/address.png' %}">
                <span>м. Харків, вул. Киргизька, 19</span>
            </p>
        </div>
        <div class="schedule">
            <h3>Графік роботи</h3>
            <p>
                <img src="{% static 'orders/imgs/time.png' %}">
                <span>Пн-Нд з 9:00 до 18:00<br>Без вихідних</span>
            </p>
        </div>
        <div>
            <img src="{% static 'orders/imgs/logo.png' %}">
        </div>
</footer>
{% endblock %}
