<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Дякуємо Вам що скористалися послугами нашого интернет-магазину. Ми прийняли ваше замовлення на обробку.</p>
    <h2></h2>
    <table>
        <tr>
            <th>ПІБ</th>
            <td>{{ customer.full_name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ customer.email }}</td>
        </tr>
        <tr>
            <th>Телефон</th>
            <td>{{ customer.phone }}</td>
        </tr>
    </table>
    <h2>Інформація про замовлення</h2>
    <table>
        <tr>
            <th>Номер</th>
            <td>{{ order.uuid }}</td>
        </tr>
        <tr>
            <th>Дата</th>
            <td>{{ order.created }}</td>
        </tr>
        <tr>
            <th>Адреса доставки</th>
            <td>{{ order.delivery_address }}</td>
        </tr>
        <tr>
            <th>Спосіб доставки</th>
            <td>{{ order.delivery }}</td>
        </tr>
        <tr>
            <th>Спосіб оплати</th>
            <td>{{ order.payment }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ order.comment }}</td>
        </tr>
    </table>
    <h2>Інформація про товари</h2>
    <table>
        <tr>
            <th>Назва</th>
            <th>Ціна</th>
            <th>Кіл-ть</th>
            <th>Сума</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.product.name }}</td>
                <td>{{ product.price.value }}грн</td>
                <td>{{ product.quantity }}шт.</td>
                <td>{{ product.total_cost }}грн</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="3">Тотал Сума</th>
            <td>{{ order.total_cost }}грн</td>
        </tr>
    </table>
    <p>С повагою,<br>Інтернет-Магазин Divo Comfort</p>
</body>
</html>